@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
    background-color: #f3f2f1;
    width: 100vw;
    overflow-x: hidden;
}

body, input, textarea, button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

@keyframes ani01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.section-title {
    flex: 0 0 100;
    max-width: 100%;
    margin-bottom: 60px;
    padding: 0 15px;
}

.section-title h1 {
    display: inline-block;
    font-size: 40px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    position: relative;
}

.section-title h1:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 80px;
    height: 3px;
    background-color: #ff9800;
}

.btn-01 {
    background-color: #ff9800;
    color: #fff;
    border: 2px solid transparent;
    padding: 10px 35px;
    border-radius: 30px;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: all 0.5s ease;
}

.btn-01:hover {
    background-color: transparent;
    border-color: #ff9800;
    color: #ff9800;
}

.btn-01:focus {
    outline: none;
}

/* PRELOADER */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #111111;
    z-index: 1099;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

.preloader .loader {
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    border-right: 2px solid transparent;
    border-radius: 50%;
    animation: ani01 2s linear infinite;
}

/* HEADER */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.5s ease;
}

.fixed {
    background-color: #000;
    position: fixed;
}

.header .brand-name {
    padding: 0 15px;
}

.header .brand-name a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

.header .nav-toggle {
    width: 40px;
    height: 34px;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: none;
}

.header .nav-toggle:hover span {
    transform: rotate(90deg);
}

.header .nav-toggle span {
    height: 2px;
    display: block;
    width: 16px;
    background-color: #fff;
    position: relative;
    transition: all 0.5s ease;
}

.header .nav-toggle span::after,
.header .nav-toggle span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transition: all 0.5s ease;
}

.header .nav-toggle span::before {
    transform: translateY(-6px);
}

.header .nav-toggle span::after {
    transform: translateY(6px);
}

.header .nav {
    padding: 0 15px;
}

.header .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .nav ul li {
    display: inline-block;
    margin-left: 30px;
}

.header .nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 25px 0;
    display: block;
    transition: all 0.5s ease;
}

.header .fixed .nav ul li a {
    color: #000;
}

.header .fixed .nav ul li a:hover,
.header .nav ul li a:hover {
    color: #ff9800;
}

/* HOME SECTION */

.home-section {
    min-height: 100vh;
    background-image: url(./images/Background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

.home-section::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: -1;
}

.home-section .shape-01 {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    right: 5%;
    top: 20%;
    animation: ani01 5s linear infinite;
}

.home-section .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 14rem;
}

.home-section .home-content h4 {
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.home-section .home-content h2 {
    font-size: 60px;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 10px;
}

.home-section .scroll-down {
    position: absolute;
    left: 50%;
    bottom: 30px;
    height: 35px;
    width: 35px;
    margin-left: -15px;
    animation: scrollDown 2s ease infinite;
    color: #fff;
}

@keyframes scrollDown {
    0%, 20%, 50%, 100% {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.home-section .scroll-down i {
    font-size: 30px;
    display: block;
    margin: 2px auto;
}

/* ABOUT SECTION */
.about-section {
    padding: 80px 0 0;
}

.about-section .container {
    display: flex;
}

.about-section .about-img {
    flex: 0 0 33.33%;
    max-width: 85%;
    padding: 0 15px;
}

.about-section .about-img .img-box {
    position: relative;
    width: 100%;
}

.about-section .img-box .shape-02 {
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid #ff9800;
    left: 10px;
    top: 10px;
    animation: ani01 5s linear infinite;
}

.about-section .about-img .img-box img {
    width: 100%;
    display: block;
}

.about-section .about-content {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding: 0 15px;
}

.about-section .section-title {
    margin-bottom: 30px;
    padding: 0;
}

.about-section .about-content p {
    font-size: 16px;
    color: #555555;
    line-height: 26px;
    margin: 0;
}

.about-section .about-content .stats .stat-box {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    text-align: center;
    margin-top: 30px;
}

.about-section .about-content .stats .stat-box h2 {
    font-size: 40px;
    color: #000;
    margin: 0 0 5px;
}

.about-section .about-content .stats .stat-box h5 {
    font-size: 16px;
    color: #555555;
    font-weight: 600;
    text-transform: uppercase;
}

.about-section .about-content .btn {
    margin-top: 30px;
}

/* CATEGORIES */
.service-section {
    padding: 80px 0;
}

.service-section .service-item {
    flex: 0 0 33.3%;
    max-width: 33.33%;
    padding: 15px;
}

.service-section .service-item-inner {
    position: relative;
    overflow: hidden;
}

.service-section .service-item-inner img {
    width: 100%;
    display: block;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}

.service-section .service-item-inner:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.service-section .service-item-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.service-section .service-item-inner:hover .overlay {
    background-color: transparent;
}

.service-section .service-item-inner .overlay h3 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.service-section .service-item-inner .overlay:hover h3 {
    transform: translateX(30px);
    opacity: 0;
}

/* TOP RATED  */
.work-section {
    padding: 80px 0;
}

.work-section .work-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}

.work-section .work-item .work-item-inner {
    position: relative;
    overflow: hidden;
}

.work-section .work-item .work-item-inner img {
    width: 100%;
    display: block;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.work-section .work-item-inner:hover img {
    filter: grayscale(100);
    transform: scale(1);
}

.work-section .work-item-inner .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    transition: all 0.5 ease;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.work-section .work-item-inner:hover .overlay {
    opacity: 1;
}

.work-section .work-item-inner .overlay h4 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    transform: translateX(30px);
    transition: all 0.5s ease;
}

.work-section .work-item-inner:hover .overlay h4 {
    transform: translateX(0);
}

/* CONTACT */
.contact-section {
    padding: 80px 0;
}

.contact-section .contact-img {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-section .contact-img .img-box {
    padding: 200px 0;
    background-image: url('./images/Contact.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.contact-section .contact-img .img-box::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.9;
    z-index: -1;
}

.contact-section .section-title {
    text-align: center;
}

.contact-section .section-title h1 {
    color: #fff;
}

.contact-section .section-title h1::before{
    background-color: #fff;
    left: 50%;
    margin-left: -40px;
}

.contact-section .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 65px;
}

.contact-section .contact-form .form {
    background-color: #f3f2f1;
    padding: 55px 40px;
    margin-top: -150px;
    position: relative;
    z-index: 1;
}

.contact-section .contact-form .form label {
    color: #000;
    font-weight: 500;
    display: block;
    margin: 0 0 5px;
}

.contact-section .contact-form .form .input-group {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.contact-section .contact-form .form .left,
.contact-section .contact-form .form .right {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact-section .contact-form .form .input-control {
    width: 100%;
    height: 45px;
    padding: 6px 0;
    color: #000;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #cccccc;
}

.contact-section .contact-form .form .input-control:focus {
    outline: none;
}

.contact-section .contact-form .form .form-btn {
    text-align: center;
}

.contact-section .contact-info {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-section .contact-info .info-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 40px;
}

.contact-section .contact-info .info-item h5 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.contact-section .social-links {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
    text-align: center;
}

.contact-section .social-links a {
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
}

.contact-section .social-links a img {
    width: 28px;
    display: block;
    transition: all 0.5s ease;
}

.contact-section .social-links a:hover img {
    opacity: 0.5;
}

.copyright {
    border-top: 1px solid #c5c5c5;
    padding: 25px 15px;
    text-align: center;
    color: #555555;
    font-size: 16px;
}

/* RESPONSIVENESS */
@media(max-width: 868px) {
    .header {
        padding: 7px 0;
        position: fixed;
    }
    .header .nav-toggle {
        display: flex;
        margin-right: 15px;
    }

    .header .nav {
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #fff;
        padding: 0;
        display: none;
    }

    .header .nav ul li {
        display: block;
        margin-left: 60px;
    }

    .header .nav ul li a {
        color: #000;
        padding: 15px 0;
    }

    .home-section .home-content {
        margin-top: 20rem;
    }

    .home-section .home-content h2 {
        font-size: 40px;
    }

    .about-section .container {
        display: block;
    }

    .about-section .about-img {
        width: 60%;
        margin-bottom: 30px;
        margin: 0 auto;
    }

    .about-section .about-content,
    .about-section .about-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-section .about-content .stats .stat-box {
        padding: 0;
    }

    .work-section .work-item,
    .service-section .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 575px) {
    .home-section .home-content h2 {
        font-size: 25px;
        letter-spacing: 5px;
    }

    .about-section .about-content .stats .stat-box {
        flex: 0 0 30%;
        max-width: 30%;
    }

    .contact-section .contact-info .info-item,
    .contact-section .contact-form .form .left,
    .contact-section .contact-form .form .right,
    .work-section .work-item,
    .service-section .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .contact-section .contact-form {
        padding: 0 35px;
    }

    .contact-section .contact-form .form {
        padding: 55px 5px;
    }
}